.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Heroku Files ###
heroku-key
heroku-key.pub

### Visual Studio Code ###
.vscode
bin/
.sts4-cache/

src/main/resources/application-dev.properties